<launch>
  <group ns="ema">

    <!-- declare and load launch arguments-->
    <arg name="platform" value="rasp" doc="specify which platform to use: rasp/pc"/>
    <param name="platform" value="$(arg platform)"/>
    <arg name="display_type" value="lcd" doc="specify display type connected: lcd/oled"/>
    <param name="display_type" value="$(arg display_type)"/>

    <!-- load common config files-->
    <rosparam command="load" file="$(find yostlabs_3space_imu)/config/imu.yaml" ns="imu"/>
    <rosparam command="load" file="$(find hasomed_rehastim_stimulator)/config/stim.yaml" ns="stimulator"/>
    <rosparam command="load" file="$(find ema_fes_cycling)/config/control.yaml" ns="control"/>

    <!-- launch common nodes -->
    <node name="imu" pkg="yostlabs_3space_imu" type="imu_node.py" output="log" respawn="true" respawn_delay="5"/>
    <node name="stimulator" pkg="hasomed_rehastim_stimulator" type="stimulator_node.py" output="log" respawn="true" respawn_delay="5"/>
    <node name="control" pkg="ema_fes_cycling" type="control_node.py" output="screen" respawn="true" respawn_delay="5"/>
    <node name="logger" pkg="rosbag" type="record" respawn="true" respawn_delay="5" args="/ema/control/stimsignal /ema/control/cadence /ema/control/distance -o /home/ubuntu/bagfiles/ --split --max-splits 12 --duration 5m"/>

    <!-- launch pc-exclusive nodes -->
    <group if="$(eval platform == 'pc')">
        <node name="server" pkg="ema_fes_cycling" type="server_node.py" output="screen" respawn="true" respawn_delay="5"/>
    </group>

    <!-- launch rasp-exclusive nodes -->
    <group if="$(eval platform == 'rasp')">
      <node name="interface" pkg="ema_fes_cycling" type="interface_node.py" output="screen" respawn="true" respawn_delay="5"/>
      <node name="button" pkg="ema_fes_cycling" type="button_node.py" output="screen" respawn="true" respawn_delay="5"/>
      
      <!-- launch lcd-exclusive node -->
      <group if="$(eval display_type == 'lcd')">
          <node name="display" pkg="ema_fes_cycling" type="display_node.py" output="screen" respawn="true" respawn_delay="5"/>
      </group>

    </group>
  </group>
</launch>
